@media(max-width: 820px){
  .page1 img{
    width: 55vw;
    top: 0%;
  }
  #img1{
    width: 45vw;
  }
  #t2 h5{
    font-size: 3vw;
    /* left: 43%; */
    position: relative;
    height: 0em;
    top: 16%;
    padding: 4%;
  }
  h2{
    font-size: 5vw;
    width: 69%;
     font-weight: 500;
  }
  h2::after{
    top: 4vh;
  }
  .text1 button{
    position: absolute;
    top: 83%;
    height: 6vh;
    font-size: 4vw;
    width: 22vw;
  }
  .text1{
    .text1{
    width: 96vw ;
    left: 49vw;
    top: 36%;
      height: 50vh;
    font-weight: 500;
  }
  }
  #t2{
    left: 49vw;
    position: absolute;
    top: 37%;
    height: 50vh;
    width: 86vw
     font-weight: 500;
  }
  .imgs{
    display: flex;
    left: 22%;
    top: 63%;
    /* background: red; */
    height: auto;
  }

  #t3{
    width: 80vw;
    left: 48%;
    height: 57vh;
  }
  #t3 h5{
    font-size: 3vw;
    width: 80%;
    letter-spacing: 1px;
  }

}
